.tab-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Hide vertical scrollbar */
    white-space: nowrap; /* Prevent wrapping of child elements */
    -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
    scrollbar-width: none; /* Hide scrollbar in Firefox */
  }
  
  .tab-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar in WebKit browsers */
  }
  
  #VideoDiv{
    width: 100%;
    height: 60vh;
    font-weight: 400;
   
  }
