@import "../../styles/breakpoints";
@import "../../styles/mixins";

.labelWrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    @include sm-max {
        flex-direction: column;
        gap: 0;
    }
}