.logos {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  background-color: white; 
  width: 100%;
}

.logos-slide {
  display: inline-flex;
  animation: logos-slide 10s linear infinite;
  animation-play-state: running;
  width: fit-content;
}

.logos-slide img {
  display: inline-block;
  margin: 0 40px;
}

@keyframes logos-slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* .logos-slide:hover {
  animation-play-state: paused;
} */
