@import "src/styles/_mixins";

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #181818;
  align-items: center;
  margin-top: auto;

  .footer {
    margin-top: auto;
    color: var(--secondary-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1880px;
    align-items: center;
    padding: 3rem 12rem;

    @include md-max {
      padding: 3rem 10rem;
    }

    @include sm-max {
      padding: 4rem 1rem;
    }

    .credits {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 1rem;
      align-items: center;
      padding: 2rem 1rem;
      background-color: #1e1e1e;
      border-radius: 1rem;
      margin-bottom: 2rem;

      h2 {
        font-size: 1.8rem;
        text-align: center;
        max-width: 550px;
      }

      .developerImageContainer {
        width: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .developer {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          overflow: hidden;
          position: relative;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 2px solid transparent;
            transition: all 0.2s ease-in-out;

            &:hover {
              transition: all 0.2s ease-in-out;
              border: 2px solid #ffd500;
              transform: scale(1.05);
            }
          }

          &.trisha {
            z-index: 3;
          }

          &.mayank {
            z-index: 2;
            right: 2rem;

            &:hover {
              z-index: 4;
            }
          }

          &.anchit {
            z-index: 1;
            right: 4rem;

            &:hover {
              z-index: 4;
            }
          }
        }
      }
    }

    .information {
      display: flex;
      width: 100%;
      justify-content: space-between;

      @include sm-max {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .social-media {
        display: flex;
        align-items: center;
        margin-top: 1.5rem;
        gap: 1rem;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.3s ease-in-out;
          color: var(--secondary-text-color);

          i {
            font-size: 1rem;
            background-color: #000;
            width: 2.3rem;
            height: 2.3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            border-radius: 50%;
            transition: 0.3s ease-in-out;
          }

          span {
            opacity: 0.8;
            margin-left: 0.625rem;
          }

          &:hover {
            i {
              transform: scale(1.3);
              transition: 0.3s ease-in-out;
            }

            span {
              text-decoration: underline;
              opacity: 1;
              transition: 0.3s ease-in-out;
            }
          }
        }

        @include sm-max {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
        }
      }

      .pagesContainer {
        @include sm-max {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        .footer-logo {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 2rem;
          font-size: 1.5rem;
          font-weight: 800;
          cursor: pointer;

          img {
            height: 60px;
            border-radius: 100%;
            margin-right: 10px;

            @include md-max {
              height: 40px;
            }
          }

          @include sm-max {
            margin-bottom: 1rem;
          }
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;

          @include sm-max {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 1rem;
          }

          li,
          a {
            display: flex;
            color: var(--secondary-text-color);
            gap: 0.625rem;
            list-style: none;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
            opacity: 0.8;
            transition: 0.3s ease-in-out;

            &:hover {
              text-decoration: underline;
              opacity: 1;
              transition: 0.3s ease-in-out;
            }
          }

          li a {
            font-size: 1rem;
            font-weight: 600;
            color: var(--secondary-text-color);
          }
        }
      }

      .footer_rightSection {
        display: flex;
        width: 100%;
        justify-content: space-between;
        max-width: 350px;
        margin-top: 1.1rem;

        .another-navigation {
          @include sm-max {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }

          .footer-logo {
            width: 10rem;
            margin-bottom: 2rem;
            cursor: pointer;

            @include sm-max {
              width: 15rem;
              margin-bottom: 1rem;
            }
          }

          ul {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            @include sm-max {
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: center;
              align-items: center;
              gap: 1rem;
            }

            li,
            a {
              display: flex;
              gap: 0.625rem;
              list-style: none;
              font-size: 1rem;
              font-weight: 600;
              cursor: pointer;
              color: var(--secondary-text-color);
              opacity: 0.8;
              transition: 0.3s ease-in-out;

              &:hover {
                text-decoration: underline;
                opacity: 1;
                transition: 0.3s ease-in-out;
              }

              a {
                color: var(--secondary-text-color);
              }
            }
          }
        }

        @include md-max {
          max-width: 250px;
        }

        @include sm-max {
          max-width: 100%;
          flex-direction: column;
          gap: 1.2rem;
        }

        .social-media {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 1rem;
          align-items: flex-start;

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s ease-in-out;
            color: var(--secondary-text-color);

            i {
              font-size: 1rem;
              background-color: #000;
              width: 2rem;
              height: 2rem;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #fff;
              border-radius: 50%;
              transition: 0.3s ease-in-out;
            }

            span {
              opacity: 0.8;
              margin-left: 0.625rem;
            }

            &:hover {
              i {
                transform: scale(1.3);
                transition: 0.3s ease-in-out;
              }

              span {
                text-decoration: underline;
                opacity: 1;
                transition: 0.3s ease-in-out;
              }
            }
          }

          @include sm-max {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
